<h1>Listing device_batteries</h1>

<table>
  <tr>
    <th>Device</th>
    <th>Device battery serial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @device_batteries.each do |device_battery| %>
  <tr>
    <td><%= device_battery.device_id %></td>
    <td><%= device_battery.device_battery_serial %></td>
    <td><%= link_to 'Show', device_battery %></td>
    <td><%= link_to 'Edit', edit_device_battery_path(device_battery) %></td>
    <td><%= link_to 'Destroy', device_battery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device battery', new_device_battery_path %>
