<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_type_id, "Device Type" %><br />
    <%= f.collection_select(:device_type_id, DeviceType.all, :id, :device_type, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :device_status_id, "Device Status" %><br />
    <%= f.collection_select(:device_status_id, DeviceStatus.all, :id, :device_status, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :device_carrier_id, "Cell Carrier" %><br />
    <%= f.collection_select(:device_carrier_id, DeviceCarrier.all, :id, :device_carrier, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :asset_tag %><br />
    <%= f.text_field :asset_tag %>
  </div>
  <div class="field">
    <%= f.label :imsi %><br />
    <%= f.text_field :imsi %>
  </div>
  <div class="field">
    <%= f.label :iccid %><br />
    <%= f.text_field :iccid %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 3 %>
  </div>

  <%= f.fields_for :device_location do |builder| %>
     <%= render "device_location_fields", :f => builder %>
  <% end %>

  <%= f.fields_for :device_battery do |builder| %>
     <%= render "device_battery_fields", :f => builder %>
  <% end %>

  <%= f.fields_for :device_test do |builder| %>
     <%= render "device_test_fields", :f => builder %>
  <% end %>

  <%= f.fields_for :device_problems do |builder| %>
     <%= render "device_problem_fields", :f => builder %>
  <% end %>
 
  <p>
    <%= link_to_add_association "Add Test", f, :device_test %> |   
    <%= link_to_add_association "Add Problem", f, :device_problems %> | 
    <%= link_to_add_association "Add Location", f, :device_location %> |
    <%= link_to_add_association "Add Battery", f, :device_battery %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
