<div ="nested_partial">
  <fieldset>
    <legend>Testing</legend>
    <p>
      <strong>Created:</strong> <%= device_test.created_at %>
    </p>
    <p>
      <strong>Updated:</strong> <%= device_test.updated_at %>
    </p>
    <p>
      <b>Forced:</b>
      <%= device_test.forced %>
    </p>

    <p>
      <b>In Tom24:</b>
      <%= device_test.tom24 %>
    </p>
    
    <p>
      <b>Enrolled:</b>
      <%= device_test.enrolled %>
    </p>

    <p>
      <b>Completed:</b>
      <%= device_test.completed %>
    </p>

  </fieldset>
</div>
