<h1>Patient Assignments</h1>

<div align="center">
  <%= paginate @patient_assignments %>
</div>
<br />

<table class="pretty">
  <tr>
    <th>Patient</th>
    <th>Device Serial</th>
    <th><%= sortable "monitor_start", "Start Date" %></th>
    <th><%= sortable "monitor_end", "End Date" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patient_assignments.each do |patient_assignment| %>
  <tr class="<%= cycle('odd','even') %>">
    <td><%= patient_assignment.patient.last_name %>, <%= patient_assignment.patient.first_name %></td>
    <td><%= patient_assignment.device.serial_number %></td>
    <td><%= patient_assignment.monitor_start %></td>
    <td><%= patient_assignment.monitor_end %></td>
    <td><%= link_to 'Show', patient_assignment %></td>
    <td><%= link_to 'Edit', edit_patient_assignment_path(patient_assignment) %></td>
    <td><%= link_to 'Destroy', patient_assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<div align="center">
  <%= paginate @patient_assignments %>
</div>
<br />

<%= link_to 'New Patient assignment', new_patient_assignment_path %>
