<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :practice_name %><br />
    <%= f.text_field :practice_name %>
  </div>

  <%= f.fields_for :locations do |builder| %>
      <%= render :partial => "location_fields", :locals => { :f => builder, :loc_obj => @locations[@loc_count] } %>
      <% @loc_count = @loc_count + 1 %>
  <% end %>

  <% if can? :create, @location %>
    <p><%= link_to_add_association "Add Location", f, :locations %></p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
