<%= form_for(@disposable) do |f| %>
  <% if @disposable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disposable.errors.count, "error") %> prohibited this disposable from being saved:</h2>

      <ul>
      <% @disposable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disposable_type_id, "Type" %><br />
      <%= f.collection_select(:disposable_type_id, DisposableType.all, :id, :disposable_type, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :location_id, "Location" %><br />
      <%= f.collection_select(:location_id, Location.all, :id, :location_name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :par_level %><br />
    <%= f.number_field :par_level %>
  </div>
  <div class="field">
    <%= f.label :alert_amount %><br />
    <%= f.number_field :alert_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
