<p>
  <b>Disposable type:</b>
  <%= @disposable.disposable_type.disposable_type %>
</p>

<p>
  <b>Location:</b>
  <%= @disposable.location.location_name %>
</p>

<p>
  <b>Amount:</b>
  <%= @disposable.amount %>
</p>

<p>
  <b>Par level:</b>
  <%= @disposable.par_level %>
</p>

<p>
  <b>Alert amount:</b>
  <%= @disposable.alert_amount %>
</p>

<% if can? :update, @disposable %>
  <%= link_to 'Edit', edit_disposable_path(@disposable) %> |
<% end %>
<%= link_to 'Back', disposables_path %>
