<%= form_for(@disposable_type) do |f| %>
  <% if @disposable_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disposable_type.errors.count, "error") %> prohibited this disposable_type from being saved:</h2>

      <ul>
      <% @disposable_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disposable_type %><br />
    <%= f.text_field :disposable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
