<h1>Locations Summary Report</h1>

<table cellspacing="0" cellpadding="3" border="solid 1px">
  <tr>
    <th>Practice</th>
    <th>Name</th>
    <th>City</th>
    <th>MCT+ Stock</th>
    <th>MCT+ Req.</th>
    <th>MCT Stock</th>
    <th>MCT Req.</th>
    <th>ER920 Stock</th>
    <th>ER920 Req.</th>
    <th>Restock Amount</th>
  </tr>

<% @locations.each do |location| %>
  <tr bgcolor="#<%= cycle('c3c3c3','ffffff') %>">
    <td align="center" width="15%"><%= location.practice.practice_name %></td>
    <td align="center" width="15%"><%= location.location_name %></td>
    <td align="center" width="15%">
      <%= location.location_city %>, <%= location.location_state %>
    </td>
    <td align="center"><%= location.scottcare_count %></td>
    <td align="center"><%= location.par_level_scottcare %></td>
    <td align="center"><%= location.mct_count %></td>
    <td align="center"><%= location.par_level_mct %></td>
    <td align="center"><%= location.event_count %></td>
    <td align="center"><%= location.par_level_event %></td>
    <td align="center"><%= location.alert_amount %></td>
  </tr>
<% end %>
</table>
