<p>
  <b>Practice:</b>
  <%= @location.practice.practice_name %>
</p>

<p>
  <b>Location type:</b>
  <%= @location.location_type.location_type %>
</p>

<p>
  <b>Location name:</b>
  <%= @location.location_name %>
</p>

<p>
  <b>Location street1:</b>
  <%= @location.location_street1 %>
</p>

<p>
  <b>Location street2:</b>
  <%= @location.location_street2 %>
</p>

<p>
  <b>Location city:</b>
  <%= @location.location_city %>
</p>

<p>
  <b>Location state:</b>
  <%= @location.location_state %>
</p>

<p>
  <b>Location zip:</b>
  <%= @location.location_zip %>
</p>

<p>
  <b>Location contact:</b>
  <%= @location.location_contact %>
</p>

<p>
  <b>Par level event:</b>
  <%= @location.par_level_event %>
</p>

<p>
  <b>Par level mct:</b>
  <%= @location.par_level_mct %>
</p>

<p>
  <b>Alert amount:</b>
  <%= @location.alert_amount %>
</p>

<p>
  <b>Active:</b>
  <%= @location.active %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
